html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*:focus {
	outline: 2px dotted #ff7500;
	outline-offset: 3px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.5;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	border: none;
	padding: 12px 24px;
	background-color: #ff7500;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: opacity 0.4s ease;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	opacity: 0.6;
}

/* site-header */
.site-header {
	padding-top: 16px;
	padding-bottom: 16px;
	border-top: 5px solid #ff7500;
}

.site-header__container {
	display: flex;
	align-items: center;
}

.site-logo-link {
	margin-right: auto;
	transition: opacity 0.4s ease;
}

.site-logo-link:hover {
	opacity: 0.8;
}

.site-logo-link:active {
	opacity: 0.6;
}

.site-nav {
	margin-right: 32px;
}

.site-nav__list {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	list-style: none;
}

.site-nav__item:not(:last-child) {
	margin-right: 32px;
}

.site-nav__link {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	font-size: 13px;
	line-height: 1.17;
	letter-spacing: 1px;
	transition: all 0.4s ease;
}

.site-nav__link:hover {
	color: #ff7500;
}

.site-nav__link:active {
	opacity: 0.6;
}

.site-nav__link-active {
	border-bottom: 3px solid #ff7500;
}

p::selection {
	background-color: red;
	color: gold;
}

.site-main {
	padding-bottom: 160px;
}

.hero {
	background-color: #252420;
	color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom: 147px;
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__info {
	max-width: 387px;
	width: 100%;
}

.hero__line {
	display: inline-block;
	width: 80px;
	height: 3px;
	background-color: #ff7500;
	margin-bottom: 40px;
}

.hero__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: 0.5px;
	margin-top: 0;
	margin-bottom: 24px;
}

.hero__text {
	margin-top: 0;
	margin-bottom: 32px;
}

.hero__img-wrapper img {
	width: 510px;
	height: 510px;
	object-fit: cover;
	border-radius: 8px;
}

.main-info {
	margin-bottom: 245px;
}

.main-info__line {
	display: inline-block;
	width: 80px;
	height: 3px;
	background-color: #ff7500;
	margin-bottom: 24px;
}

.main-info__title {
	margin-top: 0;
	margin-bottom: 72px;
	font-weight: 700;
	font-size: 72px;
	line-height: 1.2;
	letter-spacing: 0.5px;
	max-width: 435px;
	width: 100%;
}

.main-info__list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.main-info__item {
	max-width: 340px;
	width: 100%;
}

.main-info__item:not(:last-child) {
	margin-right: 40px;
}

.main-info__icon {
	width: 100px;
	height: 100px;
	background-color: rgba(255, 117, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-bottom: 32px;
}

.main-info__item-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: 0.5px;
	margin-top: 0;
	margin-bottom: 12px;
}

.main-info__item-text {
	margin-top: 0;
	margin-bottom: 0;
}

.promo__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #252420;
	padding-top: 64px;
	padding-bottom: 64px;
	padding-left: 64px;
	color: #fff;
	border-radius: 12px;
}

.promo__info {
	max-width: 440px;
	width: 100%;
}

.promo__heading {
	margin-top: 0;
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: 0.5px;
}

.promo__text {
	margin-top: 0;
	margin-bottom: 12px;
}

.promo__text2 {
	margin-top: 0;
	margin-bottom: 24px;
}

.promo__span {
	color: #ff7500;
	font-weight: 700;
}

.promo__img-wrapper img {
	width: 440px;
	height: 440px;
	border-radius: 12px;
}

/* site-footer */
.site-footer {
	background-color: #f8f8f8;
	padding-top: 56px;
	padding-bottom: 56px;
}

.site-footer__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-footer__top-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-footer__top-itme:not(:last-child) {
	margin-right: 16px;
}

.site-footer__top-link {
	color: #252420;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-footer__top-link svg {
	transition: all 0.4s ease;
}

.site-footer__top-link svg:hover {
	color: #ff7500;
}

.site-footer__top-link svg:active {
	opacity: 0.6;
}

.site-footer__line {
	margin-top: 40px;
	margin-bottom: 64px;
	height: 2px;
	background-color: rgba(37, 36, 32, 0.5);
}

.site-footer__bootm {
	display: flex;
	justify-content: space-between;
}

.site-footer__bootm-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.site-footer__bootm-item:not(:last-child) {
	margin-bottom: 16px;
}

.site-footer__bootm-link {
	text-decoration: none;
	color: #252420;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	transition: all 0.4s ease;
}

.site-footer__bootm-link:hover {
	color: #ff7500;
}

.site-footer__bootm-link:active {
	opacity: 0.6;
}
